In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
data = {
    "t1": [0, 03.42, 00.79, 00.80, 02.78],
    "t2": [0, 07.32, 03.70, 02.07, 01.65],
    "t3": [0, 07.89, 03.80, 02.21, 01.48],
    "t4": [0, 07.48, 03.60, 02.19, 01.46],
    "t5": [0, 07.49, 03.61, 02.01, 01.08],
}

In [14]:
df = pd.DataFrame(data,
                  index=['0mm', '100mm' ,'200mm', '300mm', '400mm'])
df['media_t'] = df.mean(axis=1)

In [16]:
df.to_csv('./data/df.csv')

In [17]:
df

         t1    t2    t3    t4    t5  media_t
0mm    0.00  0.00  0.00  0.00  0.00    0.000
100mm  3.42  7.32  7.89  7.48  7.49    6.720
200mm  0.79  3.70  3.80  3.60  3.61    3.100
300mm  0.80  2.07  2.21  2.19  2.01    1.856
400mm  2.78  1.65  1.48  1.46  1.08    1.690